@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

/* Main style sheet begins here */
.wrapper {
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  margin-left: 100px;
}

.h1 {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  position: relative;
  padding: 5px 10px;
  background: #0F172A;
  border-radius: 6px;
  margin-left: 2px;
  margin-top: 2px;
}
.h1::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 6px;
  z-index: -1;
  background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
}
.h1:hover {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  padding: 8px 14px;
  background: #0F172A;
  border-radius: 8px;
  margin-left: 2px;
  margin-top: 2px;
}
.h1:hover::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 8px;
  z-index: -1;
  background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
}

.footer {
  margin-top: auto;
}

/* Main style sheet ends here */