@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.notification__success,
.notification__warn,
.notification__error,
.notification__info,
.notification__muted {
  display: inline-block;
  padding: 16px 18px;
  border-radius: 12px;
  background-color: #6CFFC1;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #0F172A;
}

.notification__warn {
  background-color: #FFD66C;
}

.notification__error {
  background-color: #FF756C;
}

.notification__info {
  background-color: #6CCAFF;
}

.notification__muted {
  background-color: #727A83;
}

.tag {
  max-width: 170px;
  width: 100%;
  padding: 21px 10px 21px 19px;
  display: flex;
  align-items: center;
  background: #131C31;
  border: 1px solid #222F43;
  border-radius: 16px;
  overflow: hidden;
}
.tag__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.tag__text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #94A9C9;
}

.sidebarTag {
  max-width: 313px;
  width: 100%;
  padding: 21px 18px 21px 19px;
  display: flex;
  align-items: center;
  background: #131C31;
  border: 1px solid #222F43;
  border-radius: 16px;
  overflow: hidden;
}
.sidebarTag__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.sidebarTag__text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #94A9C9;
}
.sidebarTag__count {
  padding: 4px 16px;
  background: #222F43;
  border-radius: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #94A9C9;
  margin-left: auto;
}

.textTag {
  max-width: 112px;
  width: 100%;
  padding: 12px 18px 12px 19px;
  display: flex;
  align-items: center;
  background: #131C31;
  border: 1px solid #222F43;
  border-radius: 16px;
  overflow: hidden;
}
.textTag__text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #94A9C9;
}

.subscribeForm {
  max-width: 392px;
  width: 100%;
  position: relative;
}
.subscribeForm__input {
  max-width: 392px;
  width: 100%;
  padding: 19px 135px 19px 22px;
  background: #222F43;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7F92B0;
}
.subscribeForm__input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7F92B0;
  opacity: 0.6;
}
.subscribeForm__button {
  position: absolute;
  padding: 10px 33px 10px 16px;
  background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
  border-radius: 8px;
  right: 9px;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.subscribeForm__button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 16px;
  top: 15px;
  background-image: url("../img/elements/arrowRight.svg");
}

@keyframes dayOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dayOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nightOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nightOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.switch {
  position: relative;
  width: 40px;
  height: 22px;
  background-color: #222F43;
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.switch.day .switch__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #D8E6FB;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  transition: all 0.3s ease;
}
.switch.day .switch__circle::before {
  animation-name: dayOn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/elements/daySwitch.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.switch.day .switch__circle::after {
  animation-name: nightOff;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/elements/nightSwitch.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.switch.night .switch__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #D8E6FB;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  transition: all 0.3s ease;
}
.switch.night .switch__circle::before {
  animation-name: dayOff;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/elements/daySwitch.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.switch.night .switch__circle::after {
  animation-name: nightOn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/elements/nightSwitch.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* Main style sheet begins here */
.wrapper {
  max-width: 400px;
  width: 100%;
  display: block;
  margin-top: 100px;
  margin-left: 100px;
}

.h1 {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 7px 18px;
  background-color: #131C31;
  margin: 0;
  border: none;
  border-radius: 50px;
}
.h1:hover::before {
  display: block;
}
.h1:hover {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  position: relative;
  padding: 5px 16px;
  background: #0F172A;
  border-radius: 50px;
  margin-left: 2px;
  margin-top: 2px;
}
.h1:hover::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
}

.slider__button {
  position: relative;
  width: 32px;
  height: 32px;
  background: #131C31;
  border-radius: 50%;
}
.slider__button::before {
  content: "";
  position: absolute;
  background-image: url("../img/elements/arrowRight.svg");
  width: 11px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__button:hover {
  background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
}

.footer {
  margin-top: auto;
}

/* Main style sheet ends here */