@import "fonts.scss";
@import "vars.scss";
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

// Buttons mixins

// Button: Radius 8px, Variant: 1
@mixin but8pxVar1Still {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 16px;
    background-color: #131C31;
    margin: 0;
    border: none;
    border-radius: 8px;
    &:hover::before{
        display: block;
    }
}
@mixin but8pxVar1Hovered {
    position: relative;
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 16px;
    border: none;
    background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    border-radius: 8px;
    &:hover::before{
        display: block;
    }
}
@mixin but8pxVar1Clicked {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    position: relative;
    padding: 8px 14px;
    background: $nightDark3;
    border-radius: 8px;
    margin-left: 2px;
    margin-top: 2px;
    &::before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 8px;
        z-index: -1;
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}

// Button: Radius 8px, Variant 2
@mixin but8pxVar2Still {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 16px;
    background-color: #222F43;
    border: none;
    border-radius: 8px;
}
@mixin but8pxVar2Hovered {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 16px;
    background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    border: none;
    border-radius: 8px;
}
@mixin but8pxVar2Clicked {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    position: relative;
    padding: 8px 14px;
    background: $nightDark3;
    border: 2px solid $nightDark1;
    border-radius: 8px;
}

// Button: Radius 6px
@mixin but6pxHovered {
    position: relative;
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    padding: 7px 12px;
    border: none;
    background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    border-radius: 6px;
    &:hover::before{
        display: block;
    }
}
@mixin but6pxStill {
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    padding: 7px 12px;
    background-color: #131C31;
    margin: 0;
    border: none;
    border-radius: 6px;
    &:hover::before{
        display: block;
    }
}
@mixin but6pxClicked {
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    position: relative;
    padding: 5px 10px;
    background: $nightDark3;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 2px;
    &::before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 6px;
        z-index: -1;
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}

// Button: Radius 50%, Large
@mixin but50pxHoveredLarge {
    position: relative;
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 24px;
    border: none;
    background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    border-radius: 50px;
    &:hover::before{
        display: block;
    }
}
@mixin but50pxStillLarge {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: #131C31;
    margin: 0;
    border: none;
    border-radius: 50px;
    &:hover::before{
        display: block;
    }
}
@mixin but50pxClickedLarge {
    display: inline-block;
    @include textSm;
    color: #FFFFFF;
    position: relative;
    padding: 8px 22px;
    background: $nightDark3;
    border-radius: 50px;
    margin-left: 2px;
    margin-top: 2px;
    &::before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 50px;
        z-index: -1;
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}

// Button: Radius 50%, Small
@mixin but50pxHoveredSmall {
    position: relative;
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    padding: 7px 18px;
    border: none;
    background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    border-radius: 50px;
    &:hover::before{
        display: block;
    }
}
@mixin but50pxStillSmall {
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    padding: 7px 18px;
    background-color: #131C31;
    margin: 0;
    border: none;
    border-radius: 50px;
    &:hover::before{
        display: block;
    }
}
@mixin but50pxClickedSmall {
    display: inline-block;
    @include textXs;
    color: #FFFFFF;
    position: relative;
    padding: 5px 16px;
    background: $nightDark3;
    border-radius: 50px;
    margin-left: 2px;
    margin-top: 2px;
    &::before{
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 50px;
        z-index: -1;
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}

// Notification elements
.notification__success,
.notification__warn,
.notification__error,
.notification__info,
.notification__muted{
    display: inline-block;
    padding: 16px 18px;
    border-radius: 12px;
    background-color: #6CFFC1;
    @include not400;
    font-size: 16px;
    line-height: 16px;
    color: $nightDark3;
}
.notification__warn{
    background-color: #FFD66C;
}
.notification__error{
    background-color: #FF756C;
}
.notification__info{
    background-color: #6CCAFF;
}
.notification__muted{
    background-color: #727A83;
}

// Slider navigation button styles
@mixin sliderNavLeft {
    position: relative;
    width: 32px;
    height: 32px;
    background: $nightDark2;
    border-radius: 50%;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../img/elements/arrowLeft.svg');
        width: 11px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}
@mixin sliderNavRight {
    position: relative;
    width: 32px;
    height: 32px;
    background: $nightDark2;
    border-radius: 50%;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../img/elements/arrowRight.svg');
        width: 11px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
    }
}

// Tag styles

// Tag with image and text
.tag{
    max-width: 170px;
    width: 100%;
    padding: 21px 10px 21px 19px;
    display: flex;
    align-items: center;
    background: $nightDark2;
    border: 1px solid $nightDark1;
    border-radius: 16px;
    overflow: hidden;
    &__image{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 8px;
    }
    &__text{
        @include textLg;
        color: $nightBlue2;
    }
}
// Sidebar tag styles
.sidebarTag{
    max-width: 313px;
    width: 100%;
    padding: 21px 18px 21px 19px;
    display: flex;
    align-items: center;
    background: $nightDark2;
    border: 1px solid $nightDark1;
    border-radius: 16px;
    overflow: hidden;
    &__image{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 8px;
    }
    &__text{
        @include textLg;
        color: $nightBlue2;
    }
    &__count{
        padding: 4px 16px;
        background: $nightDark1;
        border-radius: 16px;
        @include textSm;
        color: $nightBlue2;
        margin-left: auto;
    }
}
// Simple text tag
.textTag{
    max-width: 112px;
    width: 100%;
    padding: 12px 18px 12px 19px;
    display: flex;
    align-items: center;
    background: $nightDark2;
    border: 1px solid $nightDark1;
    border-radius: 16px;
    overflow: hidden;
    &__text{
        @include textLg;
        color: $nightBlue2;
    }
}

// Subscribtion form styles
.subscribeForm{
    max-width: 392px;
    width: 100%;
    position: relative;
    &__input{
        max-width: 392px;
        width: 100%;
        padding: 19px 135px 19px 22px;
        background: $nightDark1;
        border-radius: 8px;
        border: none;
        outline: none;
        @include textXs;
        color: $nightBlue3;
        &::placeholder{
            @include textXs;
            color: $nightBlue3;
            opacity: 0.6;
        }
    }
    &__button{
        position: absolute;
        padding: 10px 33px 10px 16px;
        background: linear-gradient(82.19deg, #0EA5EA 5.2%, #0BD1D1 100.36%);
        border-radius: 8px;
        right: 9px;
        top: 50%;
        transform: translate(0, -50%);
        border: none;
        outline: none;
        @include textSm;
        color: #FFFFFF;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            right: 16px;
            top: 15px;
            background-image: url('../img/elements/arrowRight.svg');
        }
    }
}