

// All colors variables

// Brand colors

$brandBlue: #0EA5EA;
$brandBlueLight: #1CC2E7;

// Night mode colors

$nightWhite: #E6F0FF;
$nightGrey1: #D8E6FB;
$nightGrey2: #C9DAF5;
$nightGrey3: #B8CDEB;
$nightBlue1: #A7BDDD;
$nightBlue2: #94A9C9;
$nightBlue3: #7F92B0;
$nightBlue4: #66768F;
$nightDark1: #222F43;
$nightDark2: #131C31;
$nightDark3: #0F172A;
$nightDark4: #0B1222;

// Day mode colors

$dayDark1: #344161;
$dayDark2: #4A576A;
$dayDark3: #66768F;
$dayDark4: #7F92B0;
$dayMiddle1: #94A9C9;
$dayMiddle2: #2E548C;
$dayMiddle3: #7E9CC7;
$dayMiddle4: #4E658A;
$dayLight1: #C8D5E8;
$dayLight2: #E8EDF5;
$dayLight3: #F9FBFF;
