@import "global.scss";
@import "fonts.scss";
@import "vars.scss";

/* Main style sheet begins here */
.wrapper{
    max-width: 400px;
    width: 100%;
    
    margin-top: 100px;
    margin-left: 100px;
}
.h1{
    @include but50pxStillSmall;
    &:hover{
        @include but50pxClickedSmall;
    }
}

.footer{
    margin-top: auto;
}


/* Main style sheet ends here */

@import "media.scss"